@use 'sass:map';

@use 'variables' as *;

// TEXT PRESETS
$text-presets: (
  1: (
    family: 'Public Sans',
    weight: 700,
    size: 32px,
    line-height: 120%,
    letter-spacing: 0px,
  ),

  2: (
    family: 'Public Sans',
    weight: 700,
    size: 20px,
    line-height: 120%,
    letter-spacing: 0px,
  ),

  3: (
    family: 'Public Sans',
    weight: 700,
    size: 16px,
    line-height: 150%,
    letter-spacing: 0px,
  ),

  4: (
    family: 'Public Sans',
    weight: 400,
    size: 14px,
    line-height: 150%,
    letter-spacing: 0px,
  ),

  4-bold: (
      family: 'Public Sans',
      weight: 700,
      size: 14px,
      line-height: 150%,
      letter-spacing: 0px,
    ),

  5: (
    family: 'Public Sans',
    weight: 400,
    size: 12px,
    line-height: 150%,
    letter-spacing: 0px,
  ),

  5-bold: (
      family: 'Public Sans',
      weight: 700,
      // Bold
      size: 12px,
      line-height: 150%,
      letter-spacing: 0px,
    ),
);

@mixin text-preset($num) {
  $preset: map.get($text-presets, $num);

  @if $preset == null {
    @error "Text preset `#{$num}` does not exist.";
  }

  font-family: map.get($preset, family);
  font-weight: map.get($preset, weight);
  font-size: map.get($preset, size);
  line-height: map.get($preset, line-height);
  letter-spacing: map.get($preset, letter-spacing);

  @if map.has-key($preset, tablet-size) {
    @media (min-width: $breakpoint-tablet) {
      font-size: map.get($preset, tablet-size);
    }
  }

  @if map.has-key($preset, desktop-size) {
    @media (min-width: $breakpoint-desktop) {
      font-size: map.get($preset, desktop-size);
    }
  }
}
