@use '../variables' as *;
@use '../typography' as *;

.icon-select {
  position: relative;
  display: flex;
  gap: 8px;

  label {
    position: absolute;
    inset: 0;
    pointer-events: none;

    display: flex;
    align-items: center;

    @media (min-width: $breakpoint-tablet) {
      position: static;

      &:before {
        content: '';
        position: absolute;
        right: 22.5px;
        width: 11px;
        height: 6px;
        background-image: url('../../images/icon-caret-down.svg');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    span {
      display: none;
    }

    @media (min-width: $breakpoint-tablet) {
      img {
        display: none;
      }

      span {
        display: block;
      }
    }
  }

  select {
    cursor: pointer;
    height: 15px;
    width: 15px;

    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    color: transparent;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }

    option {
      color: $grey-900;
    }

    @media (min-width: $breakpoint-tablet) {
      width: fit-content;

      height: auto;
      width: auto;

      color: $grey-900;
      border: 1px solid $beige-500;
      border-radius: 8px;
      padding: 12px 52px 12px 20px;
      background-color: transparent;
    }
  }
}
