@use '../variables' as *;
@use '../typography' as *;

$value-colors: (
  green: $green,
  yellow: $yellow,
  cyan: $cyan,
  navy: $navy,
  red: $red,
  purple: $purple,
  purple-light: $purple-light,
  turquoise: $turquoise,
  brown: $brown,
  magenta: $magenta,
  blue: $blue,
  navy-grey: $navy-grey,
  army-green: $army-green,
  gold: $gold,
  orange: $orange,
);

.value-item {
  position: relative;
  padding-inline: 20px;

  @each $name, $color in $value-colors {
    &.#{$name} {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        height: 100%;
        border-left: 4px solid $color;
        border-radius: 4px;
      }
    }
  }

  dt {
    @include text-preset(4);
  }

  dd {
    @include text-preset(5-bold);
  }
}
